html {
  background: url("https://wallpapercave.com/wp/wp6305678.jpg") no-repeat center
    fixed;
  background-size: cover;
  overflow-y: hidden;
}

.App {
  text-align: center;

  .generator {
    position: relative;
    top: 180px;
  }

  .fact {
    margin: auto;
    width: 70%;
    border: 1px solid #d6b69a;
    background: white;
    padding: 10px;
    border-radius: 1px;
    font-size: 22px;
    color: #58585a;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
  }

  .buttons {
    position: relative;
    top: 145px;
    display: flex;
    justify-content: space-between;
    width: 165px;
    margin: auto;

    button {
      margin: 5px;
      padding: 8px;
      border: none;
      background: white;
      color: #58585a;
      border-radius: 1px;
      border: 1px solid #d6b69a;
      display: flex;
      cursor: pointer;
    }

    .button-icon {
      color: #ebaac0;
      padding: 1px 0 0 5px;
    }
  }

  .favourites {
    background: white;
    position: relative;
    top: 465px;
    width: 100%;
    height: 445px;
    padding: 0;
    bottom: 0;
    overflow: hidden;
    overflow-y: scroll;

    .heading-container {
      background: #d6b69a;
      height: 60px;
      display: flex;
      color: white;
      justify-content: center;
      width: 100%;
      position: fixed;

      .favourites-heading {
        margin: 12px;
      }
    }

    .fact-list {
      padding: 10px;
      margin-top: 50px;
      color: #363638;

      .favourite-fact {
        margin: 10px;
      }
    }
  }

  @media only screen and (max-width: 950px) {
    .buttons {
      top: 170px;
    }
  }

  @media only screen and (max-width: 800px) {
    .fact {
      font-size: 18px;
    }
  }

  @media only screen and (max-width: 500px) {
    .buttons {
      top: 200px;
    }
  }

  @media only screen and (max-width: 420px) {
    .buttons {
      top: 220px;
    }
  }

  @media only screen and (max-width: 370px) {
    .buttons {
      top: 270px;
    }
  }
}

//950 px ser buttons margin top
